
<h2><%= @kitty.name  %></h2>

<table>
<ul>
    <li><%= @kitty.name  %></li>
    <li><%= @kitty.color  %></li>
    <li><%= @kitty.birth_date  %></li>
    <li><%= @kitty.sex  %></li>
    <li><%= @kitty.description  %></li>

</ul>
</table>